<!-- <h1 [appCustomDirective]="'blue'">visu</h1> -->

<!-- <h1 [hoverColor]="'blue'"  appCustomDirective>visu</h1> 
 <input type="text" name="name" [hoverColor]="'blue'" [(ngModel)]="name"  appCustomDirective> main  <br><br> -->

 <!-- <button (click)="click()">click</button> -->
<!-- <input [appCustomDirective]="'blue'" type="text" name="name" > -->  

<!-- 
<a  class="btn btn-primary" routerLink="component1">First Component</a>
<a routerLink="component2" class="btn btn-warning">Second  Component</a>
<a routerLink="component3" class="btn btn-info">Third Component</a> -->

<!-- <app-todo-list></app-todo-list> -->
<app-local-storage></app-local-storage>
<!-- <app-checkbox-filter></app-checkbox-filter> -->
<!-- <app-radio-data></app-radio-data> -->
<!-- <app-first></app-first> -->

<!-- <app-tack-optisol></app-tack-optisol> -->
<!-- <app-add-inputs></app-add-inputs> -->
<router-outlet></router-outlet>
